@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
    line-height: 16px;
    font-size: 16px;
}
}

@font-face {
    font-family: 'ModernEraMono-Regular';
    src: url('./Fonts/ModernEraMono-Regular.woff') format('woff'),
         url('./Fonts/ModernEraMono-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

Nav a.active {
right: 0; 
flex: none; 
border-bottom-width: 4px; 
height: 2rem; 
font-style: normal; 
font-weight: 400; 
border-color: #FD5A1E;
letter-spacing: -0.025em; 
color: #fff; 
padding-bottom: .5rem;
 }

a:hover {
text-decoration: none;
color:#fff
}




.rightBox form label {
    width: 402px;
    height: 86px;
    color: #FD5A1E;
    padding:0 1rem 0 1rem
}
.rightBox form input {
    width: 100%;
    height: 56px;
}
.rightBox form label.message{
    width: 100%;
}

.rightBox form input.message{
    height: 100% ;
}
.rightBox form select {
    /* width: 100%; */
    height: 56px;
}