@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
    line-height: 16px;
    font-size: 16px;
    box-sizing: border-box;
}
}

@font-face {
    font-family: 'ModernEraMono-Regular';
    src: url('./Fonts/ModernEraMono-Regular.woff') format('woff'),
         url('./Fonts/ModernEraMono-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

Nav a.active {
right: 0; 
flex: none; 
border-bottom-width: 4px; 
height: 2rem; 
font-style: normal; 
font-weight: 400; 
border-color: #FD5A1E;
letter-spacing: -0.025em; 
color: #fff; 
padding-bottom: .5rem;
 }

a:hover {
text-decoration: none;
color:#fff
}




.rightBox form label {
    width: 50%;
    height: 86px;
    color: #FD5A1E;
    padding:0 1rem 0 1rem;
    margin-top: 2rem;
    text-transform: uppercase;
}
.rightBox form input {
    width: 100%;
    height: 56px;
    background-color: black;
    border: 1.5px solid #141416;
    border-radius: 6px;
    margin-top: 1rem;
    color: #D7D7D8;
    padding: 1rem;
    outline: none;
    
}
.rightBox form label.message{
    width: 100%;
    height: 184px ;
}

.rightBox form textarea.message{
    height: 100% ;
    width: 100%;
    background-color: black;
    border: 1.5px solid #141416;
    border-radius: 6px;
    margin-top: 1rem;
    color: #D7D7D8;
    padding: 1rem;
    outline: none;

}
.rightBox form select {
    width: 100%;
    height: 56px;
    background-color: black;
    border: 1.5px solid #141416;
    border-radius: 6px;
    margin-top: 1rem;
    color: #D7D7D8;
    padding: 1rem;
}